@charset "utf-8";
* {
  margin: 0 auto;
}
.main {
  width: 1200px;
  background-image: url("../img/bg.jpg");
  box-sizing: border-box;
  font-size: 20px;
}
.close {
  float: both;
}
.header {
  display: flex;
}
.avatar {
  width: 30%;
  padding: 50px;
  box-sizing: border-box;
}
.avatar img {
  width: 100%;
  align-content: center;
  display: block;
}
.info {
  flex: 1;
}
.more_info_list {
  list-style: none;
  padding-left: 0px;
  margin: 20px 0px;
}
.name {
  height: 200px;
  color: #c52a26;
  padding: 50px 50px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  margin-left: -25px;
}
.more_info_item {
  display: inline-block;
  margin-right: 35px;
  min-width: 230px;
  padding: 5px 0;
}
.more_info_item img {
  width: 25px;
  margin-left: -15px;
}
.more_info_item a{
	text-decoration: none;
}
.slogan {
  margin: 50px 0;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 50px;
  box-sizing: border-box;
}
.content_title {
  width: 25%;
  padding-left: 30px;
  display: inline-block;
  box-sizing: border-box;
}
.content_title img {
  width: 50px;
  vertical-align: middle;
  transform: translateY(-10%);
  margin-left: -30px;
}
.content_title span {
  font-size: 30px;
  color: #c52a26;
  text-transform: uppercase;
  font-weight: bold;
}
.content_text {
  flex: 1;
  border-top: 3px solid #df8987;
  align-items: center;
  height: 100%;
}
.content_text_list {
  list-style-position: inside;
  list-style-image: url("../img/ok.png");
  padding-left: 0px;
  align-items: center;
  margin: 20px 0;
}
.content_text_list_specil {
  list-style-type: none;
  padding-left: 0px;
  margin: 20px 0;
  align-items: center;
}
h5 {
  text-transform: uppercase;
  color: #de8618;
  padding-bottom: 5px;
  font-size: 22px;
}
.content_text_item p {
  font-size: 16px;
  text-align: justify;
  line-height: 36px;
  margin-bottom: 50px;
}
